.App{
    background-image: linear-gradient(to right, rgb(26, 84, 110) , rgb(50, 171, 187));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App h1{
    color: rgb(243, 250, 248);
    font-size: 60px;
    margin-bottom: 15px;
    animation: titulo 0.9s;
}

@keyframes titulo{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}
.container form{
background-color: rgb(18, 84, 122);
padding: 15px;
margin: 34px 0px;
display: flex;
border-radius: 15px;
box-shadow: 0px 3px 5px 6px rgb(29, 28, 28,0.5);



}
.container form input{
    width: 400px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
}
.container form input::placeholder{
    color: white;
    text-align: center;
}

.container form button{
    height: 50px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s;
}

.main{
    background-color: white;
    width: 60%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.main h1{
    color: black;
    text-align: center;
}
.main span{
    margin-bottom: 15px;
    font-size: 25px;
}

@media screen and (max-width:800px) {

    .main{
        width: 95%;
    }
    .container{
        width: 90%;
        font-size: 15px;
    }
    .App h1{
        font-size: 29px;
    }
    .main h1{
        text-align: justify;
    }
    .main span{
        font-size: 25px;
    }
}